# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
env/
.env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# YOLO and Deep Learning
runs/
/*.pt
*.onnx
*.engine
wandb/

# Datasets (We don't want to upload huge datasets to GitHub)
data/VisDrone/
datasets/
*.zip

# OS Files
.DS_Store
Thumbs.db
